
.Blogcontent{
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   width: 70vw;
   margin: auto;
   /* margin-top: 3rem; */
   margin-bottom: 3rem;
   justify-content: center;
   font-family: 'Baloo Chettan 2', cursive;
}
.Blog_Heading{
   text-align: center;
   font-size: 2.2rem;
   margin-bottom: 1rem;
}

.Blogcontent p{
   font-size: 1.1rem;
}

#banner{
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid black;
    width:100%;
    max-width: 35vw;
    height: auto; 
    
}  


.singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    font-size: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
  }
 
  
  .singlePostIcon:first-child {
    color: rgb(104, 230, 230);
    
  }
  .singlePostIcon:first-child:hover{
      transition: 1s smooth ease-in;
      font-size: 1.4rem;
  }
  .singlePostIcon:last-child:hover{
    transition: 1s smooth ease-in;
    font-size: 1.4rem;
}
  .singlePostIcon:last-child {
    color: rgb(235, 49, 16);
  }

  .singlePostAuthor{
    float: left;
    font-size: 16px;
  }
  
  .link{
    text-decoration: none;
    color: black;
  }

  
.singlePostDescInput {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescInput:focus {
  outline: none;
}
.singlePostButton {
  width: 100px;
  border: none;
  background-color: teal;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
}